@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    color: aliceblue;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
html{
    font-size: 16px;

}
main{
    background: white;
    width: 30rem;
    height: 30rem;
    border-radius: 3px;
    margin: auto;
    color: #000;
    border-radius: 28px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  3px 3px 10px #50555c ,
             -3px -3px 10px #a09595;
    padding: 2.5rem;
}

header{
    height: 8rem;
    display: flex;
    justify-content: space-between;
}

header h1{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.2;
}

header p{
    font-size: 1.2rem;
}

.hands{
    height: 9rem;
    display: flex;
    justify-content: space-between;
}

.hands button{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #380036;
    color: white;
    border: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}



.hands button i{
    font-size: 3rem;

}

.hands button:hover , .result .startbtn:hover, .winner button:hover{
    background: white;
    color: #380036;
    /* transform: translateX(10px); */

}
 
.hands button:hover:active , .result .startbtn:hover:active {
    transform: scale(2);
    /* transform: translateX(10px); */

}

.winner button:hover{
    transform: scale(1.2);
}

.winner button:hover:active{
    transform: scale(0.5);
    /* transform: translateX(10px); */

}
.result{
    margin: auto;
    align-items: center;
    text-align: center;
}

.result .startbtn{
    width: 12rem;
    height:10rem;
    border-radius: 10%;
    background: #380036;
    color: white;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding-top: 4 rem;
    margin-top: 3rem;
    font-size: 2.5rem;
    text-align: center;
}
.result p{
    margin: auto;
    text-align: centre;
    padding-bottom: 0.5rem;
}

.result .final{
    font-weight: bold;
    padding-top: 1rem;
}

.winner{
    width: 15rem;
    height: 15rem;
    margin: auto;
    background-color: #380036;
    background-image: linear-gradient(315deg,#380036 0%, #0cbaba 74%);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color:black;
    display: flex;
    flex-direction: column;padding: 2.5rem;
}

.winner p{
    margin: 1rem 0;
    font-size: 1rem;
    background-color: white;
    padding: 0.5rem;
}
.winner button{
    padding: rem;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    border: none;
}


.hidden{
    display: none;
}